.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  z-index: 50; /* Updated to Tailwind's z-index values */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 4rem; /* Adjusted height */
  margin: 0 1rem;
}

.nav__logo {
  color: var(--first-color);
  transition: color 0.4s;
  font-size: var(--h2-font-size);
  font-family: var(--second-font);
 }

 .nav__toggle,
 .nav__close {
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
 }

 .nav__cta {
  background-color: var(--first-color);
  color: var(--title-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 0.75rem 1.5rem;
 }

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link {
  color: black;
  font-weight: var(--font-semi-bold);
  transition: color 0.4s;
 }
 
 .nav__link:hover {
  color: var(--first-color);
 }
 
 .nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
 }
 
 .show-menu {
  right: 0;
 }

 @media screen and (min-width: 1150px) {
  .nav__menu {
    position: static;
    background-color: transparent;
    backdrop-filter: none;
    width: auto;
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    row-gap: 0;
    column-gap: 2rem;
  }

  .nav__toggle {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 2rem;
  }
}

@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width: 80%;
    height: 100%;
    padding: 6rem 3rem 0;
    transition: right 0.4s;
  }
}